h1 {
	font-size: 47px;
	font-family: calibri;
	text-align: center;
}
p {
	font-size: 35px;
	font-family: timesnewroman;
	text-align: center;
}
body {
	font-family: sans-serif;
	cursor: url('images/olaf.png'), auto;
}
.grid {
	border: 2px lightblue solid;
	display: grid;
	margin: auto;
	position: relative;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-row-gap: 10px;
	grid-column-gap: 25px;
	grid-gap: 20px 10px;
}
.gridtwo {
	display: grid;
	margin: auto;
	position: relative;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 10px;
	grid-column-gap: 25px;
	grid-gap: 20px 10px;
}
.a {
	grid-column-start: 1;
	grid-column-end: span 2;
}

.b {
	grid-column-start: 3;
	grid-column-end: span 2;

}	
.c {
	grid-column-start: 1;
	grid-column-end: span 2;
}	
.d {
	grid-column-start: 3;
	grid-column-end: span 2;
}	
header {
	color: white;
	background-color: #FF0000;
	grid-area: center;
}
img {
	width: 100%;
	height: auto;
}

li {
	display: inline;
	float: left;
	border-right: 1px solid black;
	border-right: 1px solid #bbb;
}
a {
	display: block;
	padding: 8px;
	background-color: #dddddd;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;

}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #b8caff;
}
li:last-child {
	border-right: none;
}